<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Facilities & Operations</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Online Service Request Form
    </span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

</mat-toolbar>
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">

  <mat-card>
    <mat-card-title>Select Facility</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select formControlName="loc" required placeholder='Select a facility...'>
          <mat-option *ngFor="let location of locations" [value]="location">{{location.descr}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="this.lindex">
    <mat-card-title>Select Problem</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select formControlName="problemCode" required placeholder='Select a problem...'>
          <mat-option *ngFor="let problem of problems" [value]="problem">{{problem.descr}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-progress-bar *ngIf="showSpinner" class="app-spinner" mode="indeterminate" aria-label="Indeterminate progress-bar example"></mat-progress-bar>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="this.answersForQuestion.length > 0">
    <mat-card-title>Answer Questions</mat-card-title>
    <!-- enter multiple choice here -->
    <mat-card-content>
      {{this.questionForMultipleChoice}}
      <!-- <ng-container>{{g.question}}</ng-container> -->
      <br>
      <mat-form-field *ngIf="this.answersForQuestion.length > 0">
        <mat-select formControlName="answers" placeholder="Select One">
          <mat-option *ngFor="let z of answersForQuestion" [value]="z">
            <ng-container>{{ z }}</ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <!-- enter yes no questions and answers here -->
    <mat-card-content *ngFor="let g of yesNoQuestions">
      <ng-container>{{g.question}}</ng-container>
      <br>
      <br>
      {{myForm.yesno | json}}
      <mat-radio-group formControlName="yesno">
        <mat-radio-button value="Yes">Yes</mat-radio-button>
        <mat-radio-button value="No">No</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <!-- enter yes/no radio buttons here -->
    <mat-card-content *ngFor="let f of textAreaQuestions">
      <ng-container>{{f.question}}</ng-container>
      <br>
      <mat-form-field>
        <textarea matInput placeholder="Input an answer." formControlName="answers"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Enter your contact information</mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" formControlName="callerFirstName" placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="callerLastName" placeholder="Last Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" formControlName="callerEmail" placeholder="Email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" formControlName="callerWorkPhone" placeholder="Phone #" type="number">
      </mat-form-field>
      <br>
      <mat-form-field>
        <textarea matInput type="text" formControlName="comments" placeholder="Comments"></textarea>
      </mat-form-field>
    </mat-card-content>
    <p>
      DEBUG
      {{myForm.valid | json}}
      <button mat-raised-button color="primary" type="submit" class="btn btn-success" [disabled]="!myForm.valid">Submit</button>
    </p>
    <p>
      <mat-progress-bar *ngIf="!isDone && submitted" class="app-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example"></mat-progress-bar>
    </p>

    <div *ngIf="isDone && authResponse.requestId == ''">There was a problem generating your Service Request. Please try again. {{authResponse.message}}</div>
    <div *ngIf="isDone && authResponse.requestId != ''">Your Service Request ID is {{authResponse.requestId | json}}</div>
  </mat-card>
</form>
<mat-card>
  <app-map></app-map>
</mat-card>
